<h1>Welcome to Ironic Pizzas | Best pizza in the world</h1>

<img class="full-width" src="/images/homepage-pizza.webp" />

<form action="/search" method="get">

    <h3>Search:</h3>

    <input type="text" name="maxPrice"/>


    <button type="submit">Submit form</button>
</form>

{{> ctaOrderNow }}
