body {
    background-color: rgb(255, 219, 143);
    padding: 2% 10%;
    text-align: center;
}

h1 {
    margin: 2rem auto;
}

nav a {
    padding: 3rem 1rem;
}

img.full-width {
    max-width: 100%;
}

ul {
    list-style-position: inside;
    text-align: left;
}

.banner {
    border: 3px solid rgb(255, 106, 0);
    background-color: rgb(255, 189, 46);
    margin: 2rem auto;
    padding: 1rem;
}